@import "../../../assets/style/colors.scss";

.menu-burger {
    width: 35px;

    &.--opened {
        .menu-burger__container {
        }
        .menu-burger__top-row {
            top: 50%;

            transform: translate(0%, -50%) rotate(-45deg);
        }
        .menu-burger__mid-row {
            opacity: 0;
            transform: translate(0%, -50%) scale(30%);
        }
        .menu-burger__bottom-row {
            bottom: 50%;

            transform: translate(0%, 50%) rotate(45deg);
        }
    }
}

.menu-burger__container {
    position: relative;
    width: 35px;
    height: 24px;
}
.menu-burger__top-row,
.menu-burger__mid-row,
.menu-burger__bottom-row {
    transition: 0.2s ease;
    z-index: 100;
    position: absolute;
    height: 5px;
    width: 35px;
    background-color: $light-blue;
    border-radius: 3px;
}

.menu-burger__top-row {
    top: 0;
}
.menu-burger__mid-row {
    transition: 0.2s ease;
    top: 50%;
    transform: translate(0%, -50%) scale(100%);
}
.menu-burger__bottom-row {
    bottom: 0;
}
