.header {
    position: relative;
    min-height: 74px;
}
.header__container {
    background-color: var(--sky);
    padding: 16px 18px;
}
.header__grid {
    gap: 28px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-content: space-between;
}
.header__logo {
}

.header__profile {
    height: 34px;
    width: 34px;
    // display: flex;
    // align-items: center;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px var(--sky);
    transition: 0.2s linear;

    justify-self: end;
    &:hover {
        box-shadow: 0px 0px 0px 3px var(--white);
        @media (max-width: 768px) {
            box-shadow: 0px 0px 0px 0px var(--sky);
        }
    }
    &:active {
        @media (max-width: 768px) {
            box-shadow: 0px 0px 0px 3px var(--white);
        }
        box-shadow: 0px 0px 0px 0px var(--white);
    }
}
.header__profile-img {
    fill: var(--light-blue);
    height: 34px;
    width: 34px;
}

.header-logo__top-title,
.header-logo__bottom-title {
    font-family: "Fira Code", monospace;
    font-weight: 600;
    font-size: 20px;
    line-height: 108.58%;
    letter-spacing: -0.04em;
    color: var(--blue);
}

.header-logo__top-title {
}

.header-logo__bottom-title {
}
