@keyframes page-in {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes start-fade {
    0% {
    }

    100% {
        opacity: 1;
    }
}

@keyframes page-out {
    0% {
        opacity: 1;
        z-index: 3;

        transform: translateX(0);
    }

    100% {
        opacity: 0;
        z-index: 3;

        transform: translateX(100%);
    }
}

.page {
    opacity: 0;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    min-height: 100%;
    position: absolute;
    z-index: 2;
    border-radius: 10px;
    background-color: var(--white);
    animation: start-fade 1s ease forwards;
}

// .page-enter {
// }
.page-enter-active {
    animation: page-in 0.5s ease forwards;
}
.page-enter-done {
    opacity: 1;
}
// .page-exit {
// }
.page-exit-active {
    animation: page-out 0.5s ease forwards;
}
