@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap");

@import "./colors.scss";
@import "./default.scss";

body {
    background-color: $white;
    min-height: 100vh;
}

#root {
    min-height: 100vh;
}
.container {
    font-family: "Fira Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 102.08%;
    color: $text;
}

/* 

<div class='header'>
    <input class='login'/>
</div>

 */

// .header {
//     color: green;

//     .login {
//         background-color: red;
//     }
// }
